//
// Lato (All Font Styles)
// http://www.latofonts.com/
// ------------------------------------------------------

@require "variables"
@require "lato-black"
@require "lato-blackitalic"
@require "lato-heavy"
@require "lato-heavyitalic"
@require "lato-bold"
@require "lato-bolditalic"
@require "lato-semibold"
@require "lato-semibolditalic"
@require "lato-medium"
@require "lato-mediumitalic"
@require "lato-regular"
@require "lato-italic"
@require "lato-light"
@require "lato-lightitalic"
@require "lato-thin"
@require "lato-thinitalic"
@require "lato-hairline"
@require "lato-hairlineitalic"
